<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <title>xdboard</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <form action="changeSettings" @submit="checkForm" method="post">
      <div class="container-fluid">
        <div class="row" id="headerDivider" style="background-color: #62B6CB; color: White; font-size: 2vw">
          <div class="col-xs-3">
          </div>
          <div class="col-xs-6" style="text-align: center" >
            <b>Settings</b>
          </div>
          <div class="col-xs-3" style="text-align: right">
          </div>
        </div>
        <div class="row">
          <div class="col" style="text-align: center">
            <br />
          </div>
        </div>
          <div class="container">
            <!--div class="row" style="text-align: center; padding-bottom: 10px">
              <div class="col-xs-6">
                <label>Name</label>
              </div>
              <input type="text" name="name" placeholder="Change Name" v-model="name">
            </div>
            <div class="row" style="text-align: center;  padding-bottom: 10px">
              <div class="col-xs-6">
                <label>Age</label>
              </div>
              <input type="text" name="age" placeholder="Change Age" v-model="age">
            </div-->
            <div class="row" style="text-align: center;  padding-bottom: 10px">
              <div class="col-xs-6">
                <label>Current Weight</label>
              </div>
              <input type="text" name="weight" placeholder="Change Weight" v-model="weight">
              <label>lbs</label>
            </div>
            <div class="row" style="text-align: center; padding-bottom: 10px">
              <div class="col-xs-6">
                <label>Target Weight</label>
              </div>
              <input type="text" name="target" placeholder="Change Target Weight" v-model="target">
              <label>lbs</label>
            </div>
            <div class="row" style="text-align: center; padding-bottom: 10px">
              <div class="col-xs-6">
                <label>Height</label>
              </div>
              <input type="text" name="height" placeholder="Change Height" v-model="height">
              <label>in</label>
            </div>
            <div class="row" style="text-align: center">
              <button class="btn btn-primary"><b>Submit</b></button>
            </div>
            <div class="row">
              <div class="col" style="text-align: center">
                <br />
              </div>
            </div>
            <div class="row" style="bottom: 0; text-align: center;">
              <div class="col-xs-3">
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="home"><span class="glyphicon glyphicon-home"></span></a>
                </div>
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="home">Home</a>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="progress"><span class="glyphicon glyphicon-stats"></span></a>
                </div>
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="progress">Progress</a>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="nutrition"><span class="glyphicon glyphicon-apple"></span></a>
                </div>
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="nutrition">Nutrition</a>
                </div>
              </div>
              <div class="col-xs-3">
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="profile"><span class="glyphicon glyphicon-user"></span></a>
                </div>
                <div class="row" style="bottom: 0; text-align: center;">
                  <a href="profile">Profile</a>
                </div>
              </div>
            </div>
          </div>
      </div>
      </form>
  </div>
</body>

    <script>
    var homePage = new Vue({
      el: '#app',

      data: {
        height: null,
        weight: null,
        target: null,
        name: "",
        age: null,
      },

      methods: {
        checkForm: function(e){

          if(this.height && this.weight && this.target && this.height){
            return true;
          }

          e.preventDefault();
        }
      }
    });
  </script>
  </html>
