<!doctype html>

<html>
<head>
  <meta charset="utf-8">
  <title>xdboard</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
	<div id="app">
  <h1 style="text-align: center; font-size: 2vw; color: #62B6CB">Settings</h1>
  <form action="changeSettings" @submit="checkForm" method="post">
  <div class="container">
  	<div class="row" style="text-align: center; padding-bottom: 10px">
  		<input type="text" name="height" placeholder="Change Height" v-model="height">
  	</div>
  	  <div class="row" style="text-align: center;  padding-bottom: 10px" >
  		<input type="text" name="weight" placeholder="Change Weight" v-model="weight">
  	</div>
  	  <div class="row" style="text-align: center;  padding-bottom: 10px">
  		<input type="text" name="target" placeholder="Change Target Weight" v-model="target">
  	</div>
  	<div class="row" style="text-align: center">
  		<button>Submit</button>
  	</div>
  	<a href="home">Link to home</a>
  </div>
  
</form>
</div>
</body>

<script>
var homePage = new Vue({
  el: '#app',

  data: {
    height: null,
    weight: null,
    target: null,
  },

  methods: {
  	checkForm: function(e){

      if(this.height && this.weight && this.target){
        return true;
      }

      e.preventDefault();
    }
  }
});
</script>
</html>
